apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "freebsd-csi.fullname" . }}-node
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "freebsd-csi.labels" . | nindent 4 }}
    app.kubernetes.io/component: node
spec:
  selector:
    matchLabels:
      {{- include "freebsd-csi.nodeSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "freebsd-csi.nodeSelectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      hostNetwork: true
      {{- with .Values.node.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      containers:
        - name: csi-node-driver-registrar
          image: {{ .Values.sidecars.registrar.image }}
          args:
            - "--csi-address=/csi/csi.sock"
            - "--kubelet-registration-path=/var/lib/kubelet/plugins/{{ .Values.driver.name }}/csi.sock"
            - "--v=5"
          resources:
            {{- toYaml .Values.sidecars.resources | nindent 12 }}
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
            - name: registration-dir
              mountPath: /registration

        - name: freebsd-csi-driver
          image: {{ include "freebsd-csi.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - "--endpoint=unix:///csi/csi.sock"
            - "--node-id=$(NODE_ID)"
            - "--node"
            - "--log-level={{ .Values.driver.logLevel }}"
          env:
            - name: NODE_ID
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          resources:
            {{- toYaml .Values.node.resources | nindent 12 }}
          securityContext:
            privileged: true
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
            - name: kubelet-dir
              mountPath: /var/lib/kubelet
              mountPropagation: Bidirectional
            - name: dev
              mountPath: /dev
            - name: host-iscsi
              mountPath: /etc/iscsi
              readOnly: true
            - name: host-sys
              mountPath: /sys
              readOnly: true

      volumes:
        - name: socket-dir
          hostPath:
            path: /var/lib/kubelet/plugins/{{ .Values.driver.name }}
            type: DirectoryOrCreate
        - name: kubelet-dir
          hostPath:
            path: /var/lib/kubelet
            type: Directory
        - name: registration-dir
          hostPath:
            path: /var/lib/kubelet/plugins_registry
            type: Directory
        - name: dev
          hostPath:
            path: /dev
            type: Directory
        - name: host-iscsi
          hostPath:
            path: /etc/iscsi
            type: DirectoryOrCreate
        - name: host-sys
          hostPath:
            path: /sys
            type: Directory

      {{- with .Values.node.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.node.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.node.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
