---
# StorageClass for iSCSI volumes with ext4 filesystem (Linux workers)
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: freebsd-zfs-iscsi
provisioner: csi.freebsd.org
parameters:
  exportType: iscsi
  fsType: ext4
  # REQUIRED: Portal address of the FreeBSD storage server
  # Format: <ip-or-hostname>:<port>
  portal: "192.168.1.100:3260"
allowVolumeExpansion: true
reclaimPolicy: Delete
volumeBindingMode: Immediate

---
# StorageClass for iSCSI volumes with XFS filesystem
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: freebsd-zfs-iscsi-xfs
provisioner: csi.freebsd.org
parameters:
  exportType: iscsi
  fsType: xfs
  portal: "192.168.1.100:3260"
allowVolumeExpansion: true
reclaimPolicy: Delete
volumeBindingMode: Immediate

---
# StorageClass for NVMeoF volumes
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: freebsd-zfs-nvmeof
provisioner: csi.freebsd.org
parameters:
  exportType: nvmeof
  fsType: ext4
  # REQUIRED: Transport address and port for NVMe-oF/TCP
  transportAddr: "192.168.1.100"
  transportPort: "4420"
allowVolumeExpansion: true
reclaimPolicy: Delete
volumeBindingMode: Immediate

---
# StorageClass with Retain policy (volumes preserved on PVC deletion)
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: freebsd-zfs-retain
provisioner: csi.freebsd.org
parameters:
  exportType: iscsi
  fsType: ext4
  portal: "192.168.1.100:3260"
allowVolumeExpansion: true
reclaimPolicy: Retain
volumeBindingMode: Immediate
